!!! 5
%html
  %head
    %link{:href => "i/favicon.ico", :rel => "SHORTCUT ICON"}/
    %title CongressTroller
    %link{:href => "inflow.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "javascripts/jquery.js"}
    %script{:src => "javascripts/jquery.infieldlabel.js"}
    %script{:src => "javascripts/pizzaaaaa.js"}
  %body
    #top
      %div{:dojotype => "rdw.Search"}
      %div{:dojotype => "rdw.Notify"}
      #logo
      %div{:dojotype => "rdw.Loading"}
    #notices
      = yield